<!DOCTYPE html>
<html>
	<head> 
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  		<link rel="stylesheet" type="text/css" href="../webroot/css/style.css">
  		<link rel="stylesheet" type="text/css" href="../webroot/css/bootstrap.css">
  		<link rel="stylesheet" type="text/css" href="../webroot/css/topcoat-mobile-dark.css">
  		<link rel="stylesheet" type="text/css" href="../webroot/css/icomatic/icomatic.css">
	</head>

	<body class="container">    
		<div class="row">
			<div class="nav-tab-bar fixed" style="height: 45px; color: #fff;"> 
	 			<h4 class="home_button" style="margin: 0; padding: 12px 0; width: 85px;">
	 				<span class="pull-left icomatic" style="font-size: 21px;">backlight</span> Fertiller
	 			</h4>
			</div>
		</div>

		<div class="nav-tab-bar-spacer" style="margin: 22px;"></div> 

		<div class="aaa" id="aaa">   
			<div class="content-header fixed" style="border-bottom: 1px solid #3498db; padding: 5px 0; background: #E8E6F0; top: 45px;"><div class="col-xs-12">
				<div class="pull-left" style="padding-right: 10px;"> 
					<img class="main_pic" style="border: 1px solid #888; padding: 3px; border-radius: 2px;" src="../webroot/img/bc_methods/" height="70px;" width="70px;">
				</div>
 
				<h4 style="margin: 5px 0 0 0;" class="name"><!--Male Condom--></h4><br/>
				<span>Efficiency: <b><span class="efficiency"><!--98--></span>%</b></span> 
			</div></div>
 

			<div class="content-main" style="margin-top: 100px;">
				<div class="row">
					<h5 class="col-xs-12" style="margin: 10px 0;"><b>Description</b></h5>
					<div class="col-xs-12 accordion description" style="white-space; nowrap; overflow: hidden; text-align: justify;" data-height="">   
						<!--Description-->
					</div>

					<h5 class="col-xs-12" style="margin: 10px 0;"><b>Instruction</b></h5>
					<div class="col-xs-12 accordion instruction" style="white-space; nowrap; overflow: hidden; text-align: justify;" data-height="">   
						<!--Instruction-->
					</div> 

					<h5 class="col-xs-12" style="margin: 10px 0;"><b>Risks</b></h5>
					<div class="col-xs-12 accordion risks" style="white-space; nowrap; overflow: hidden; text-align: justify;" data-height="">   
						<!--Risks-->
					</div>
				</div>

				<div class="row more_methods">
					<h5 class="col-xs-12" style="margin: 10px 0;"><b>More Methods</b></h5>
					<div class="col-xs-4">
						<div class="" style="max-height: 100px; min-height: 100px; box-shadow: -1px 2px 3px #000; border: 1px solid transparent; background: #fff; border-radius: 2px;">
							<center><img style="padding: 3px; border-radius: 2px;" src="../webroot/img/bc_methods/male_condom.png" height="70px;" width="70px;"></center>
							<center><b>IUD</b></center>
						</div>
					</div> 

					<div class="col-xs-4">
						<div class="" style="max-height: 100px; min-height: 100px; box-shadow: -1px 2px 3px #000; border: 1px solid transparent; background: #fff; border-radius: 2px;">
							<center><img style="padding: 3px; border-radius: 2px;" src="../webroot/img/bc_methods/male_condom.png" height="70px;" width="70px;"></center>
							<center><b>Vasectomy</b></center>
						</div>
					</div> 

					<div class="col-xs-4">
						<div class="" style="max-height: 100px; min-height: 100px; box-shadow: -1px 2px 3px #000; border: 1px solid transparent; background: #fff; border-radius: 2px;">
							<center><img style="padding: 3px; border-radius: 2px;" src="../webroot/img/bc_methods/male_condom.png" height="70px;" width="70px;"></center>
							<center><b>Female Condom</b></center>
						</div>
					</div> 
				</div>
			</div>
		</div>
		
		<div class="footer-spacer">&nbsp;</div>
		<div class="footer fixed">   
  			<div class="footer-label"> 
				<div style="padding-top: 18px;"><div style="margin: 0 auto; width: 85px;">Re-electionists</div></div> 
  			</div>
		</div> 

  		<script type="text/javascript" src="../webroot/js/jquery.js"></script>
  		<script type="text/javascript" src="../cordova-2.1.0.js"></script> 
  		<script type="text/javascript" src="../Model/BirthControlSingle.model.js"></script>
	</body>
</html>
