<!DOCTYPE html>
<html>
	<head> 
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  		<link rel="stylesheet" type="text/css" href="../webroot/css/style.css">
  		<link rel="stylesheet" type="text/css" href="../webroot/css/bootstrap.css">
  		<link rel="stylesheet" type="text/css" href="../webroot/css/topcoat-mobile-dark.css">
  		<link rel="stylesheet" type="text/css" href="../webroot/css/icomatic/icomatic.css">
	</head>

	<body class="container" style="background: #FC2B5F;"> 
		<div class="row">
			<div class="nav-tab-bar fixed" style="height: 45px; color: #fff;"> 
	 			<h4 class="home_button" style="margin: 0; padding: 12px 0; width: 85px;">
	 				<span class="pull-left icomatic" style="font-size: 21px;">backlight</span> Fertiller
	 			</h4>
			</div>
		</div>

		<div class="nav-tab-bar-spacer" style="margin: 22px;"></div> 
		<div class="nav-tab-bar-spacer" style="margin: 22px;"></div> 

		<div class="aaa" id="aaa" style="color: #EDEDED;"> 

			<center><h3 class="single_view_date" style="margin: 0px;"></h3></center>

			<div style="margin: 22px;"></div> 

			<input type="hidden" id="cycle_day_input" value="">
			<center><h4 class="cycle_day_label"></h4></center>
 

			<div class="row" style="position: fixed; right: 15px; left: 15px; top: 45%;">
				<div style="padding: 0;" class="col-xs-2">
					<span class="icomatic prev_button" style="font-size: 50px;">backlight</span>
				</div>

				<div class="col-xs-8">
					<center><h4 class="prediction_label" style="margin: 0; font-size: 40px;">No data!</h4></center>
				</div>

				<div style="padding: 0;" class="col-xs-2">
					<span class="icomatic next_button" style="font-size: 50px;">nextlight</span>
				</div>
			</div>

 
			<div class="nav-tab-bar-spacer" style="margin: 22px;"></div> 


			<div class="row" style="position: fixed; right: 15px; left: 15px; bottom: 10%;">
				<div class="col-xs-4"><div>
					<input type="hidden" id="mens_input" value="None">
					<center><h4 style="margin: 0;" class="mens_label">No data</h4></center>
					<center class="mens" style="padding: 10px 0;"><img src="../webroot/img/icons/mens_icon.png" height="50"></center>
				</div></div>

				<div class="col-xs-4"><div>
					<input type="hidden" id="temp_input" value="0">
					<center><h4 style="margin: 0;" class="temp_label">No data</h4></center>
					<center class="temp" style="padding: 10px 0;"><img src="../webroot/img/icons/temp_icon.png" height="50"></center>
				</div></div>

				<div class="col-xs-4"><div>
					<input type="hidden" id="mucus_input" value="None">
					<center><h4 style="margin: 0;" class="mucus_label">No data</h4></center>
					<center class="mucus" style="padding: 10px 0;"><img src="../webroot/img/icons/mucus_icon.png" height="50"></center>
				</div></div>
			</div>


		</div> 


  		<script type="text/javascript" src="../webroot/js/jquery.js"></script>
  		<script type="text/javascript" src="../cordova-2.1.0.js"></script>  
  		<script type="text/javascript" src="../webroot/js/bootbox.min.js"></script> 
  		<script type="text/javascript" src="../webroot/js/bootstrap.min.js"></script>  
  		<script type="text/javascript" src="../Model/FertilitySingle.model.js"></script>
	</body>
</html>
