<!DOCTYPE html>
<html>
	<head> 
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  		<link rel="stylesheet" type="text/css" href="../webroot/css/style.css">
  		<link rel="stylesheet" type="text/css" href="../webroot/css/bootstrap.css">
  		<link rel="stylesheet" type="text/css" href="../webroot/css/topcoat-mobile-dark.css">
  		<link rel="stylesheet" type="text/css" href="../webroot/css/icomatic/icomatic.css">
	</head>

	<body class="container">    
		<div class="row">
			<div class="nav-tab-bar fixed">
				<div id="birth_controls_link" class="col-xs-4 nav-tab-bar-item nav-tab-bar-item-bordered">
					<div class="row">
						<span class='icomatic' style='font-size: 22px;'>alert</span>
					</div>
					<span class="nav-tab-bar-label">Birth Controls</span> 
				</div>

				<div id="fertility_link" class="col-xs-4 nav-tab-bar-item nav-tab-bar-item-bordered active">
					<div class="row">
						<span class='icomatic' style='font-size: 22px;'>like</span>
					</div>
					<span class="nav-tab-bar-label">Fertility</span>
				</div>

				<div id="about_link" class="col-xs-4 nav-tab-bar-item">
					<div class="row">
						<span class='icomatic' style='font-size: 22px;'>group</span>
					</div>
					<span class="nav-tab-bar-label">About</span>
				</div>
			</div>
		</div>

		<div class="nav-tab-bar-spacer"></div>  
 		
 		<div id="slider" class="swipe">
 			<div class='swipe-wrap'>
 				<div class="container">
		 			<center style="margin-top: 30px;"><h4>When did your menstrual period started?</h4></center>
		 			<div class="row form-group" style="margin-top: 20px;">
		 				<center><div class="col-xs-6" style="margin: 0 auto; float: none;">
		 					<select class="form-control" id="input_month" name="input_month">
		 						<option value="0">January</option>
		 						<option value="1">Febuary</option>
		 						<option value="2">March</option>
		 						<option value="3">April</option>
		 						<option value="4">May</option>
		 						<option value="5">Jun</option>
		 						<option value="6">July</option>
		 						<option value="7">August</option>
		 						<option value="8">September</option>
		 						<option value="9">October</option>
		 						<option value="10">November</option>
		 						<option value="11">December</option>
		 					</select>
		 				</div></center>
		 			</div>

		 			<div class="row form-group">
		 				<center><div class="col-xs-6" style="margin: 0 auto; float: none;">
		 					<select class="form-control" id="input_day">
		 						<option value="1"> 01 </option> 
		 						<option value="2"> 02 </option> 
		 						<option value="3"> 03 </option> 
		 						<option value="4"> 04 </option> 
		 						<option value="5"> 05 </option> 
		 						<option value="6"> 06 </option> 
		 						<option value="7"> 07 </option> 
		 						<option value="8"> 08 </option> 
		 						<option value="9"> 09 </option> 
		 						<option value="10"> 10 </option> 
		 						<option value="11"> 11 </option> 
		 						<option value="12"> 12 </option> 
		 						<option value="13"> 13 </option> 
		 						<option value="14"> 14 </option> 
		 						<option value="15"> 15 </option> 
		 						<option value="16"> 16 </option> 
		 						<option value="17"> 17 </option> 
		 						<option value="18"> 18 </option> 
		 						<option value="19"> 19 </option> 
		 						<option value="20"> 20 </option> 
		 						<option value="21"> 21 </option> 
		 						<option value="22"> 22 </option> 
		 						<option value="23"> 23 </option> 
		 						<option value="24"> 24 </option> 
		 						<option value="25"> 25 </option> 
		 						<option value="26"> 26 </option> 
		 						<option value="27"> 27 </option> 
		 						<option value="28"> 28 </option> 
		 						<option value="29"> 29 </option> 
		 						<option value="30"> 30 </option> 
		 						<option value="31"> 31 </option> 
		 					</select>
		 				</div></center>
		 			</div>


		 			<div class="row form-group">
		 				<center><div class="col-xs-6" style="float: none;">
		 					<select class="form-control" id="input_year"> 
		 					</select>
		 				</div></center>
		 			</div> 
		 		</div>

 				<div class="container">
		 			<center style="margin-top: 30px;"><h4>Minimum cycle length</h4></center>
		 			<div class="row form-group" style="margin-top: 20px;">
		 				<div class="col-xs-12"><input type="number" id="min_cycle" class="form-control" /></div>
		 			</div>

		 			<center style="margin-top: 30px;"><h4>Maximum cycle length</h4></center>
		 			<div class="row form-group" style="margin-top: 20px;">
		 				<div class="col-xs-12"><input type="number" id="max_cycle" class="form-control" /></div>
		 			</div>
		 		</div>

 				<div class="container">
		 			<center style="margin-top: 30px;"><h4>Minimum period length</h4></center>
		 			<div class="row form-group" style="margin-top: 20px;">
		 				<div class="col-xs-12"><input disabled type="number" id="min_period" class="form-control" /></div>
		 			</div>

		 			<center style="margin-top: 30px;"><h4>Maximum period length</h4></center>
		 			<div class="row form-group" style="margin-top: 20px;">
		 				<div class="col-xs-12"><input disabled type="number" id="max_period" class="form-control" /></div>
		 			</div>
		 		</div>
 			</div>
 		</div> 
		

		<center><div style="margin-top: 50px; width: 222px;">
			<div id="back_button" style="margin-right: 30px; float: left; width: 80px; padding: 10px; border: 1px solid #888; background: #3498db; color: #fff; border-radius: 2px;"><span style="font-size: 16px;">Back</span></div>
			<div id="next_button" style="margin-left: 30px; float: left; width: 80px; padding: 10px; border: 1px solid #888; background: #3498db; color: #fff; border-radius: 2px;"><span style="font-size: 16px;">Next</span></div>
		</div></center>

  		<script type="text/javascript" src="../webroot/js/jquery.js"></script>
  		<script type="text/javascript" src="../webroot/js/swipe.js"></script>
  		<script type="text/javascript" src="../cordova-2.1.0.js"></script>   
  		<script type="text/javascript" src="../Model/NoRecords.model.js"></script>
	</body>
</html>
